body {
  font-family:Aptos;
  color:#333;
  background-color:white;
  margin:0;
  padding:0;
  line-height:1.6;
  font-size:30px;
}
header {
  background-color:pink;
  color:white;
  padding:20px
  text-align:centre;
 }

header 1{
  background-image:url("campus.jpg");
}


nav a { 
  color:white;
  text-decoration:none;
  margin:0 10px;
}
nav a:hover {
  text-decoration:underline;
}
main {
  padding:20px;
  max-width:800px;
  margin:0 auto;
}
main img {
  max-width:100%;
  height:auto;
  display:block;
  margin:20px 0;
}
footer {
background-color:rgba(0, 0, 0, 0.6);
  color:orange;

text-align:center;
padding:10px;
position:fixed;
bottom:0;
width:100%;
}
p {
  font-size:1.1em;
}
a {
  color:#4CAF50;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

main a[href^="mailto:"]{
  color:#ff5722;
  font-weight:bold;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap:5px;
  width:100%;
   margin:0;
   padding:0;
  
}
.image-grid img {
    width: 100%;
     aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}

.image-container {
    position: relative;
    width: 100%;
   margin:0;
   padding:0;
}

